.container {
    height:60px;
    padding:0 14px;
    display:flex;
    justify-content: space-between;
    background-color:#070821;
}

.container .title {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
    margin-left: 20px;
    letter-spacing: 2px;
}
.header-menu-container {
    height:60px;
    line-height:60px;
    background:transparent;
    border-bottom:none;
}

.header-menu-container :global(.ant-menu-item) {
    color:#9a9aa5;
    height:60px;
    top:0;
    vertical-align: top;
    border-bottom:4px solid transparent;
    font-size:1rem;
}

.header-menu-container :global(.ant-menu-item)::after {
    border-bottom:none !important;
}

.header-menu-container :global(.ant-menu-item):global(.ant-menu-item-selected), .header-menu-container :global(.ant-menu-item):global(.ant-menu-item-active) {
    color:#04a3fe !important;
    border-bottom:4px solid #1890ff !important;
    font-size:1rem;
}

.header-menu-container :global(.ant-menu-item):global(.ant-menu-item-selected) > span {
    /* font-size:1.2rem; */
    font-weight:bold;
}

.weather-container {
    display:inline-flex;
    align-items: center;
    color:#fff;
}

@media (max-width:1440px){
    .header-menu-container :global(.ant-menu-item) {
        padding:0 1rem !important;
    }
}

.container .weather-container audio {
    display:block !important;
}
