.form-container {
    /* width:70%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); */
    width:80%;
    margin:0 auto;
}

.form-container > :global(.ant-row) {
    border-top:1px solid #2b2b53;
    border-bottom:1px solid #0c0c19;
    padding:1rem 0;
}

.form-container > :global(.ant-row):nth-child(1) {
    border-top:none;
}
.form-container > :global(.ant-row):nth-child(2) {
    border-top:none;
}
.form-container > :global(.ant-row):nth-child(3) {
    border-top:none;
}
.form-container > :global(.ant-row):nth-child(4) {
    border-top:none;
}


.form-container .my-form-item{
    margin:0;
    width:25%;
}

@media (max-width:1440px){
    .form-container .my-form-item {
        width:33.3%;
    }
    .form-container > :global(.ant-row):nth-child(4) {
        border-top:1px solid #2b2b53;
    }
}
/* Switch组件 */
.form-container .custom-switch {
    background-color:#585867;
    opacity: 1;
}
.form-container .custom-switch:global(.ant-switch-checked) {
    background-color:#1890ff;
}